<div class="card-promo-section">
  {% comment %} Render the 'card-promo' snippet {% endcomment %}
  {% render 'card-promo' %}
</div>

{% schema %}
{
  "name": "Card Promo Section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Card Promo"
    }
  ]
}
{% endschema %}
