{{ 'rgb-card.js' | asset_url | script_tag }}
{{ 'rgb-card.css' | asset_url | stylesheet_tag }}

<div class="rgb-card-section">
  <div class="rgb-cards">

    <div class="rgb-card">
      <div class="box top-box">test</div>
      <div class="box-row">
        <div class="box small-box">test</div>
        <div class="box small-box">test</div>
      </div>
      <div class="box bottom-box">test</div>
    </div>
    <div class="rgb-card">
      <div class="box top-box">test</div>
      <div class="box-row">
        <div class="box small-box">test</div>
        <div class="box small-box">test</div>
      </div>
      <div class="box bottom-box">test</div>
    </div>

    <div class="rgb-card">
      <div class="box top-box">test</div>
      <div class="box-row">
        <div class="box small-box">test</div>
        <div class="box small-box">test</div>
      </div>
      <div class="box bottom-box">test</div>
    </div>

  </div>
</div>


